body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  height: 75%;
  width: 400px;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
}

.country {
  font-size: 14px;
  color: hsl(75, 94%, 57%);
}

.hobby {
  font-size: 12px;
}

.links {
  margin: 15px;
  background-color: hsl(0, 0%, 20%);
  padding: 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.links:hover {
  background-color: hsl(75, 94%, 57%);
}

a:hover {
  color: hsl(0, 0%, 12%);
}

.profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin: 5px 0 5px 0px;
}
